@font-face {
  font-family: MonaSans;
  font-display: swap;
  src: url(../fonts/MonaSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: MonaSans;
  font-display: swap;
  src: url(../fonts/MonaSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: MonaSans;
  font-display: swap;
  src: url(../fonts/MonaSans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #263238;
  line-height: 1;
  font-family: MonaSans;
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: MonaSans;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background: #f5f5f5
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  transition: all .5s;
  opacity: 1
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 80.9375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,79.0625rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center
}
.menu__link {
  line-height: 1.5294117647;
  font-weight: 500
}
.icon-menu {
  padding: .625rem;
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.text {
  line-height: 1.5294117647
}
.button {
  position: relative;
  min-width: 9.75rem;
  text-align: center;
  padding: .9375rem 1.4375rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  color: #e9faff;
  border-radius: 10rem;
  overflow: hidden;
  z-index: 1;
  transition: background-color .3s
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #020bff;
  border-radius: 10rem;
  z-index: -2
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0b5c;
  transition: all .3s;
  border-radius: 10rem;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  z-index: -1
}
.button--small {
  min-width: auto;
  padding: .625rem 1rem
}
.button--dark-blue:after {
  background-color: #0a0b5c
}
.button--dark-blue:before {
  background-color: #020bff
}
.header {
  position: absolute;
  width: 100%;
  z-index: 50
}
.header._header-scroll {
  position: fixed;
  top: -200%;
  background-color: rgba(255,255,255,.903)
}
.header._header-show {
  transition: all .4s .1s;
  top: 0
}
.header__container {
  padding-top: .625rem;
  padding-bottom: .625rem;
  min-height: 8.25rem;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto
}
._header-show .header__container {
  min-height: 5.625rem
}
.header__logo {
  position: relative;
  z-index: 5;
  flex-shrink: 0
}
.menu-open .header__logo path {
  fill: #fff
}
.header__menu {
  justify-self: start
}
.action-header {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: .875rem;
  color: #0a0b5c
}
.menu-open .action-header {
  color: #fff
}
.menu-open .action-header path {
  fill: #fff
}
.action-header__sing {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: .3125rem;
  transition: all .3s
}
.action-header__arrow {
  flex-shrink: 0;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  border: .0625rem solid #0a0b5c;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all .3s
}
.menu-open .action-header__arrow {
  border-color: #fff
}
.menu-open .action-header__arrow path {
  fill: #fff
}
.action-header__arrow::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0a0b5c;
  -webkit-transform: translateX(-102%);
  transform: translateX(-102%);
  z-index: -1;
  transition: all .3s
}
.action-header__call {
  flex-shrink: 0
}
.menu-open .action-header__call.button {
  background-color: #0a0b5c;
  border: .0625rem solid #fff
}
.menu-open .action-header__call.button::after {
  background-color: #0a0b5c
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.hero__content {
  padding: 1.25rem 0;
  max-width: 40.9375rem
}
.hero__title {
  color: #0a0b5c;
  font-weight: 500;
  line-height: 1.1;
  opacity: 0;
  -webkit-transform: translateY(20%);
  transform: translateY(20%)
}
.hero__title._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all .4s .1s
}
.hero__title:not(:last-child) {
  margin-bottom: .75rem
}
.hero__title span {
  background: linear-gradient(90deg,#1285cd 6%,#0103ff 55%,#010cff 72%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent
}
.hero__text {
  font-size: 1.25rem;
  line-height: 1.5;
  opacity: 0;
  -webkit-transform: translateY(20%);
  transform: translateY(20%)
}
.hero__text._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all .4s .2s
}
.hero__text:not(:last-child) {
  margin-bottom: 1.5rem
}
.hero__text p:not(:last-child) {
  margin-bottom: .75rem
}
.hero__buttons {
  display: flex;
  gap: 1.25rem;
  opacity: 0;
  -webkit-transform: translateY(20%);
  transform: translateY(20%)
}
.hero__buttons._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all .4s .2s
}
.hero__img {
  display: none
}
.about-us__slider {
  width: 124.6875rem;
  margin-left: -21.875rem
}
.about-us__text {
  max-width: 40rem;
  margin: 0 auto;
  font-size: 1.25rem;
  line-height: 1.5
}
.slide-about-us__content--bg {
  display: flex;
  flex-direction: column
}
.slide-about-us__content--bg .slide-about-us__img {
  aspect-ratio: 1/.9;
  background-color: #e8f1ff
}
.slide-about-us__img {
  border-radius: 3.125rem;
  overflow: hidden;
  aspect-ratio: 1/1.4
}
.slide-about-us__img img {
  width: 100%;
  height: 100%
}
.slide-about-us__title {
  background: linear-gradient(24.47deg,#0103ff,#01e4ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 500;
  line-height: 1.2
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .hero__content {
    flex: 0 1 55%
  }
  .hero__content:not(:last-child) {
    padding-right: 1.25rem
  }
  .hero__img {
    display: block;
    flex: 0 1 45%;
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%)
  }
  .hero__img._watcher-view {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all .4s .1s
  }
  .hero__img img {
    width: 100%;
    height: 100%
  }
}
@media (min-width:47.99875em)and (min-width:80.9375em) {
  .hero__img {
    padding-right: 5.625rem
  }
}
@media (min-width:47.9375em) {
  .slide-about-us__content--bg {
    gap: 2.5rem
  }
}
@media (min-width:61.99875em) {
  .menu__link {
    padding: 0 .625rem 0 .3125rem;
    border-radius: 0 1.5625rem 1.5625rem 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all .3s
  }
  .menu__link::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0a0b5c;
    -webkit-transform: translateX(-102%);
    transform: translateX(-102%);
    z-index: -1;
    transition: all .3s
  }
  .menu__link:hover {
    transition: all .3s;
    color: #e9faff
  }
  .menu__link:hover::after {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@media (min-width:80.9375em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .header__container {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .hero__container {
    padding-bottom: 4.375rem
  }
  .hero__container {
    padding-top: 6.875rem
  }
  .hero__title {
    font-size: 4.375rem
  }
  .about-us {
    padding-top: 6.25rem
  }
  .about-us {
    padding-bottom: 6.25rem
  }
  .about-us__slider {
    padding-bottom: 3.125rem
  }
  .slide-about-us__title {
    font-size: 2.875rem
  }
}
@media (max-width:20em) {
  .slide-about-us__title {
    font-size: 1.5rem
  }
}
@media (max-width:62.435625em) {
  .about-us {
    padding-top: 1.875rem
  }
  .about-us {
    padding-bottom: 3.125rem
  }
}
@media (max-width:61.99875em) {
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .header__container {
    min-height: 4.375rem
  }
  .header__menu {
    justify-self: center
  }
  .about-us__container {
    margin-right: -.9375rem
  }
  .about-us__slider {
    width: 100%;
    margin-left: 0
  }
  .about-us__text {
    padding-right: .9375rem
  }
  .slide-about-us__content--bg .slide-about-us__img {
    aspect-ratio: 1/.8
  }
  .slide-about-us__img {
    aspect-ratio: 1/1.3
  }
}
@media (max-width:61.81125em) {
  .slide-about-us__content--bg {
    gap: .9375rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: -100%;
    overflow: auto;
    padding: 5.3125rem .9375rem .9375rem 1.875rem;
    background-color: #0a0b5c;
    transition: top .3s
  }
  .menu__body::before {
    content: "";
    background-color: #0a0b5c;
    position: fixed;
    width: 100%;
    height: 4.375rem;
    right: 0;
    top: -100%;
    transition: top .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    top: 0
  }
  .menu-open .menu__body::before {
    top: 0
  }
  .menu__list {
    width: 100%;
    flex-direction: column;
    row-gap: 1.375rem
  }
  .menu__item {
    text-align: center;
    width: 100%
  }
  .menu__link {
    font-size: 1.5rem;
    color: #e9faff
  }
  .icon-menu {
    background-color: #0a0b5c;
    display: block;
    position: relative;
    width: 2.125rem;
    height: 2.125rem;
    border-radius: .4375rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: .3125rem;
    position: absolute;
    width: 1.5rem;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: .4375rem
  }
  .icon-menu::after {
    bottom: .5rem
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu {
    border: .0625rem solid #fff
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .action-header__call.button::after {
    background-color: #0a0b5c
  }
  .hero__container {
    padding-bottom: 1.875rem
  }
  .hero__container {
    padding-top: 4.375rem;
    justify-content: center;
    text-align: center
  }
  .hero__title {
    font-size: 2.25rem
  }
  .hero__buttons {
    justify-content: center
  }
  .hero__button {
    width: 100%
  }
  .about-us__slider {
    padding-bottom: 1.875rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.93625em) {
  .header__container {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
}
@media (max-width:29.99875em) {
  .header__container {
    -webkit-column-gap: .1875rem;
    -moz-column-gap: .1875rem;
    column-gap: .1875rem;
    padding: .625rem
  }
  .logo {
    overflow: hidden;
    width: 2.6875rem
  }
  .action-header {
    gap: .625rem
  }
  .action-header__arrow {
    width: 2.125rem;
    height: 2.125rem
  }
  .hero__buttons {
    flex-direction: column
  }
}
@media (min-width:61.99875em)and (max-width:80.9375em) {
  .menu__list {
    -webkit-column-gap: clamp(.9375rem ,-1.108528315rem + 3.3001122038vw ,1.5625rem);
    -moz-column-gap: clamp(.9375rem ,-1.108528315rem + 3.3001122038vw ,1.5625rem);
    column-gap: clamp(.9375rem ,-1.108528315rem + 3.3001122038vw ,1.5625rem)
  }
}
@media (min-width:47.93625em)and (max-width:80.9375em) {
  .header__container {
    -webkit-column-gap: clamp(1.25rem ,-.565698269rem + 3.7877353131vw ,2.5rem);
    -moz-column-gap: clamp(1.25rem ,-.565698269rem + 3.7877353131vw ,2.5rem);
    column-gap: clamp(1.25rem ,-.565698269rem + 3.7877353131vw ,2.5rem)
  }
}
@media (min-width:47.99875em)and (max-width:80.9375em) {
  .hero__container {
    padding-bottom: clamp(1.875rem ,-1.768030625rem + 7.5898447877vw ,4.375rem)
  }
  .hero__container {
    padding-top: clamp(4.375rem ,.731969375rem + 7.5898447877vw ,6.875rem)
  }
  .hero__title {
    font-size: clamp(2.25rem ,-.8465760313rem + 6.4513680695vw ,4.375rem)
  }
  .about-us__slider {
    padding-bottom: clamp(1.875rem ,.0534846875rem + 3.7949223938vw ,3.125rem)
  }
}
@media (min-width:47.99875em)and (min-width:62.43625em)and (max-width:80.9375em) {
  .hero__img {
    padding-right: clamp(.0000000625rem ,-18.9827120433rem + 30.4033507871vw ,5.625rem)
  }
}
@media (min-width:47.99875em)and (max-width:62.43625em) {
  .hero__img {
    padding-right: .0000000625rem
  }
}
@media (min-width:62.435625em)and (max-width:80.9375em) {
  .about-us {
    padding-top: clamp(1.875rem ,-12.8886852684rem + 23.646252069vw ,6.25rem)
  }
  .about-us {
    padding-bottom: clamp(3.125rem ,-7.4204894774rem + 16.8901800493vw ,6.25rem)
  }
}
@media (min-width:61.81125em)and (max-width:47.9375em) {
  .slide-about-us__content--bg {
    gap: clamp(.9375rem ,7.8988535003rem + -11.2622758807vw ,2.5rem)
  }
}
@media (min-width:20em)and (max-width:80.9375em) {
  .slide-about-us__title {
    font-size: clamp(1.5rem ,1.0487179487rem + 2.2564102564vw ,2.875rem)
  }
}
@media (any-hover:hover) {
  .button {
    transition: background-color .3s
  }
  .button:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  .logo svg:hover path {
    transition: fill .4s;
    fill: #020bff
  }
  .action-header__sing:hover .action-header__arrow {
    transition: all .3s;
    color: #e9faff
  }
  .action-header__sing:hover .action-header__arrow::after {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  .action-header__sing:hover .action-header__arrow svg {
    fill: #fff
  }
}