@import url(https://fonts.googleapis.com/css?family=Onest:regular&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Onest;
  font-size: 1.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Onest;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #12161c
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 116.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  display: block;
  padding: 0 20px;
  caret-color: inherit
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  color: #ff4a4a;
  line-height: 1.1012658228;
  letter-spacing: -.06875rem
}
.title--white {
  color: #fff
}
.title--white a {
  color: #377de5
}
.title--white a:hover {
  text-decoration: underline
}
.title--blue {
  color: #377de5
}
.item-block {
  background: linear-gradient(211.38deg,#192230 28.91%,rgba(255,3,3,.35) 100%)
}
.item-block--blue {
  background: linear-gradient(211.38deg,#192230 32.579%,rgba(3,119,255,.3) 100%)
}
.item-block__text {
  line-height: 1.4
}
.item-block__text--wrap {
  max-width: 40.625rem
}
.item-block__text p:not(:last-child) {
  margin-bottom: .3125rem
}
.item-block__text a {
  color: #ff4a4a
}
.item-block__text a:hover {
  text-decoration: underline
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}
.footer__list:not(:last-child) {
  margin-bottom: 3.75rem
}
.footer__link {
  transition: color .3s
}
.footer__button {
  display: block;
  margin: 0 auto;
  padding: .9375rem 1.875rem;
  color: #377de5;
  border-radius: 6.25rem;
  background: linear-gradient(221.19deg,#12161c 8.248%,#123158 100%)
}
.hero__container {
  display: flex;
  flex-direction: column-reverse
}
.hero__content {
  display: grid;
  row-gap: 4.75rem;
  background: linear-gradient(198.78deg,#192230 10%,rgba(3,119,255,.3) 100%)
}
.hero__logo img {
  width: 100%;
  height: 100%
}
.hero__title {
  align-self: end
}
.hero__img {
  flex: 0 1 51.087%
}
.hero__image {
  aspect-ratio: 340/290
}
.info__container {
  display: grid
}
.about-us__container,
.why__items {
  display: flex;
  flex-wrap: wrap
}
.about-us__card,
.why__card {
  flex: 1 0 60%
}
.opportunities__container {
  display: flex;
  flex-direction: column
}
.opportunities__container--benefits {
  flex-direction: column
}
.opportunities__wrap-image {
  flex: 0 0 51.09%
}
.opportunities__image {
  aspect-ratio: 1/1.2;
  -webkit-clip-path: polygon(30% 0,100% 0,100% 100%,100% 100%,0 100%,0 23%);
  clip-path: polygon(30% 0,100% 0,100% 100%,100% 100%,0 100%,0 23%)
}
.opportunities__image--benefits {
  aspect-ratio: 1/1.2;
  -webkit-clip-path: polygon(0 0,71% 0,100% 23%,100% 100%,100% 100%,0 100%);
  clip-path: polygon(0 0,71% 0,100% 23%,100% 100%,100% 100%,0 100%)
}
.opportunities__content {
  flex: 0 0 48.91%;
  background: linear-gradient(198.78deg,rgba(25,34,48,.6) 31.379%,rgba(3,119,255,.2) 100%)
}
.opportunities__items {
  display: grid
}
.why__container {
  background: linear-gradient(225deg,#121a27 0,rgba(255,3,3,.25) 100%)
}
.content-contact-us__title {
  line-height: 1.1012658228
}
.content-contact-us__items {
  background: linear-gradient(211.38deg,#0b0f15 30%,rgba(3,119,255,.35) 100%)
}
.content-contact-us__info {
  line-height: 1.4
}
.call-back__body {
  background: linear-gradient(225deg,#192230 0,#12161c 100%)
}
.form-call-back__items {
  display: flex;
  flex-wrap: wrap
}
.form-call-back__item {
  flex: 1 0 60%;
  background: linear-gradient(198.78deg,#12161c 35%,rgba(3,119,255,.25) 100%)
}
.form-call-back__item--textarea textarea {
  padding: 0 .3125rem
}
.form-call-back__item--textarea .form-call-back__lable:not(:last-child) {
  margin-bottom: .5rem
}
.form-call-back__lable {
  padding-left: .3125rem;
  color: rgba(255,255,255,.4);
  line-height: 1.4
}
.form-call-back__input {
  padding: .3125rem
}
.form-call-back__input::-webkit-input-placeholder {
  color: #fff
}
.form-call-back__input:-ms-input-placeholder {
  color: #fff
}
.form-call-back__input::-ms-input-placeholder {
  color: #fff
}
.form-call-back__input::placeholder {
  color: #fff
}
.form-call-back ._form-error {
  position: relative
}
.form-call-back ._form-error .form__error {
  position: absolute;
  top: .625rem;
  right: .3125rem;
  color: #ff4a4a
}
.form-call-back__button {
  width: 100%;
  text-align: center;
  padding: 3.125rem .625rem;
  background: linear-gradient(198.78deg,#12161c 35%,rgba(3,119,255,.25) 100%);
  transition: color .3s
}
@media (min-width:29.99875em) {
  .opportunities__image {
    aspect-ratio: 1/.7;
    -webkit-clip-path: polygon(30% 0,100% 0,100% 100%,100% 100%,0 100%,0 38%);
    clip-path: polygon(30% 0,100% 0,100% 100%,100% 100%,0 100%,0 38%)
  }
  .opportunities__image--benefits {
    aspect-ratio: 1/.7;
    -webkit-clip-path: polygon(0 0,70% 0,100% 38%,100% 100%,100% 100%,0 100%);
    clip-path: polygon(0 0,70% 0,100% 38%,100% 100%,100% 100%,0 100%)
  }
}
@media (min-width:47.99875em) {
  .info__container {
    grid-template-columns: repeat(auto-fill,minmax(22.5rem,1fr))
  }
  .about-us__card,
  .why__card {
    flex-basis: 30%
  }
  .opportunities__container {
    flex-direction: row
  }
  .opportunities__image {
    aspect-ratio: 940/1127;
    -webkit-clip-path: polygon(100% 0,100% 100%,100% 100%,36.19% 100%,0 70%,0 0);
    clip-path: polygon(100% 0,100% 100%,100% 100%,36.19% 100%,0 70%,0 0)
  }
  .form-call-back__item {
    flex-basis: 40%
  }
}
@media (min-width:61.99875em) {
  .footer__list {
    flex-direction: row
  }
  .footer__button {
    display: none
  }
  .hero__container {
    flex-direction: row
  }
  .hero__content {
    flex: 0 1 48.913%;
    row-gap: 1.5625rem
  }
  .hero__title {
    max-width: 40.3125rem
  }
  .hero__image {
    aspect-ratio: 940/800;
    -webkit-clip-path: polygon(100% 54%,100% 0,0 0,0 100%,60% 100%);
    clip-path: polygon(100% 54%,100% 0,0 0,0 100%,60% 100%)
  }
  .about-us__card,
  .why__card {
    flex-basis: 40%
  }
  .form-call-back__item {
    flex-basis: 30%
  }
}
@media (min-width:68.75em) {
  .info__container {
    grid-template-columns: repeat(auto-fill,minmax(30.625rem,1fr))
  }
}
@media (min-width:78.125em) {
  .info__container {
    grid-template-columns: repeat(auto-fill,minmax(36.875rem,1fr))
  }
}
@media (min-width:88.75em) {
  .opportunities__container--benefits {
    flex-direction: row-reverse
  }
  .opportunities__image--benefits {
    aspect-ratio: 940/1587;
    -webkit-clip-path: polygon(0 0,100% 0,100% 75.41%,58.94% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 75.41%,58.94% 100%,0 100%)
  }
}
@media (min-width:116.875em) {
  .title {
    font-size: 4.9375rem
  }
  .title--margin-bottom:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .title--padding-left {
    padding-left: 3.75rem
  }
  .item-block {
    min-height: 26.25rem
  }
  .item-block {
    padding-top: 3.125rem
  }
  .item-block {
    padding-bottom: 3.125rem
  }
  .item-block {
    padding-left: 3.75rem
  }
  .item-block {
    padding-right: 3.75rem
  }
  .item-block__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .item-block__text {
    font-size: 1.875rem
  }
  .item-block__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .footer {
    padding-top: 9.375rem
  }
  .footer {
    padding-bottom: 13.75rem
  }
  .footer__list {
    gap: 2.5rem
  }
  .footer__link {
    font-size: 1.875rem
  }
  .page > * {
    margin-bottom: 2.5rem
  }
  .hero__content {
    padding: 3.75rem
  }
  .hero__content {
    padding-top: 2.8125rem
  }
  .hero__logo {
    width: 10rem
  }
  .hero__logo {
    height: 2.6875rem
  }
  .info__container {
    gap: 2.5rem
  }
  .about-us__container,
  .why__items {
    gap: 2.5rem
  }
  .opportunities__content {
    padding: 2.5rem
  }
  .opportunities__content {
    padding-top: 3.125rem
  }
  .opportunities__content {
    padding-bottom: 2.5rem
  }
  .opportunities__items {
    gap: 2.5rem
  }
  .why__container {
    padding: 2.5rem
  }
  .why__container {
    padding-top: 3.125rem
  }
  .content-contact-us__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .content-contact-us__items {
    padding: 3.75rem
  }
  .content-contact-us__items {
    padding-top: 3.125rem
  }
  .content-contact-us__item:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .content-contact-us__info {
    font-size: 1.875rem
  }
  .call-back__body {
    padding: 2.5rem
  }
  .call-back__body {
    padding-top: 3.125rem
  }
  .form-call-back__items {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .form-call-back__items {
    row-gap: 2.5rem
  }
  .form-call-back__items:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .form-call-back__item {
    padding: 3.75rem
  }
  .form-call-back__item {
    padding-top: 3.125rem
  }
  .form-call-back__lable {
    font-size: 1.875rem
  }
  .form-call-back__lable:not(:last-child) {
    margin-bottom: .625rem
  }
  .form-call-back__input {
    font-size: 1.875rem
  }
  .form-call-back__input::-webkit-input-placeholder {
    font-size: 1.875rem
  }
  .form-call-back__input:-ms-input-placeholder {
    font-size: 1.875rem
  }
  .form-call-back__input::-ms-input-placeholder {
    font-size: 1.875rem
  }
  .form-call-back__input::placeholder {
    font-size: 1.875rem
  }
  .form-call-back ._form-error .form__error {
    font-size: 1.5625rem
  }
  .form-call-back__button {
    padding-top: 3.125rem
  }
  .form-call-back__button {
    padding-bottom: 3.125rem
  }
}
@media (max-width:62em) {
  .hero__content {
    padding: 1.25rem
  }
  .hero__content {
    padding-top: .9375rem
  }
}
@media (max-width:20em) {
  .title {
    font-size: 1.875rem
  }
  .title--margin-bottom:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .title--padding-left {
    padding-left: 1.25rem
  }
  .item-block {
    padding-top: .9375rem
  }
  .item-block {
    padding-bottom: .9375rem
  }
  .item-block {
    padding-left: 1.25rem
  }
  .item-block {
    padding-right: 1.25rem
  }
  .item-block__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .item-block__text {
    font-size: 1.125rem
  }
  .item-block__text:not(:last-child) {
    margin-bottom: .625rem
  }
  .footer {
    padding-top: 3.4375rem
  }
  .footer {
    padding-bottom: 6.25rem
  }
  .footer__link {
    font-size: 1.125rem
  }
  .page > * {
    margin-bottom: .625rem
  }
  .hero__logo {
    width: 6.75rem
  }
  .hero__logo {
    height: 1.8125rem
  }
  .info__container {
    gap: .625rem
  }
  .about-us__container,
  .why__items {
    gap: .625rem
  }
  .opportunities__content {
    padding-top: .9375rem
  }
  .opportunities__content {
    padding-bottom: .625rem
  }
  .opportunities__items {
    gap: .625rem
  }
  .why__container {
    padding: .9375rem
  }
  .why__container {
    padding-top: 1.25rem
  }
  .content-contact-us__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .content-contact-us__items {
    padding: 1.25rem
  }
  .content-contact-us__items {
    padding-top: .9375rem
  }
  .content-contact-us__item:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .content-contact-us__info {
    font-size: 1rem
  }
  .form-call-back__items {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .form-call-back__items {
    row-gap: .625rem
  }
  .form-call-back__items:not(:last-child) {
    margin-bottom: .625rem
  }
  .form-call-back__item {
    padding: .625rem
  }
  .form-call-back__item {
    padding-top: .9375rem
  }
  .form-call-back__lable {
    font-size: 1.125rem
  }
  .form-call-back__lable:not(:last-child) {
    margin-bottom: .0000000625rem
  }
  .form-call-back__input {
    font-size: 1.125rem
  }
  .form-call-back__input::-webkit-input-placeholder {
    font-size: 1.125rem
  }
  .form-call-back__input:-ms-input-placeholder {
    font-size: 1.125rem
  }
  .form-call-back__input::-ms-input-placeholder {
    font-size: 1.125rem
  }
  .form-call-back__input::placeholder {
    font-size: 1.125rem
  }
  .form-call-back ._form-error .form__error {
    font-size: .875rem
  }
  .form-call-back__button {
    padding-top: 1.25rem
  }
  .form-call-back__button {
    padding-bottom: 1.25rem
  }
}
@media (max-width:61.99875em) {
  .hero__image {
    -webkit-clip-path: polygon(0 0,79.41% 0,100% 24.31%,100% 100%,0 100%);
    clip-path: polygon(0 0,79.41% 0,100% 24.31%,100% 100%,0 100%)
  }
}
@media (max-width:47.99875em) {
  .item-block {
    min-height: 18.75rem
  }
  .footer__list {
    gap: .625rem
  }
  .opportunities__content {
    padding: .0000000625rem
  }
  .call-back__body {
    padding: .0000000625rem
  }
  .call-back__body {
    padding-top: .9375rem
  }
}
@media (min-width:20em) and (max-width:116.875em) {
  @supports (font-size:clamp(1.875rem ,1.2427419355rem + 3.1612903226vw ,4.9375rem)) {
    .title {
      font-size: clamp(1.875rem ,1.2427419355rem + 3.1612903226vw ,4.9375rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.2427419355rem + 3.1612903226vw ,4.9375rem)) {
    .title {
      font-size: calc(1.875rem + 3.0625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.6048387097rem + 3.2258064516vw ,4.375rem)) {
    .title--margin-bottom:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.6048387097rem + 3.2258064516vw ,4.375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.6048387097rem + 3.2258064516vw ,4.375rem)) {
    .title--margin-bottom:not(:last-child) {
      margin-bottom: calc(1.25rem + 3.125 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-left:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .title--padding-left {
      padding-left: clamp(1.25rem ,.7338709677rem + 2.5806451613vw ,3.75rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .title--padding-left {
      padding-left: calc(1.25rem + 2.5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-top:clamp(0.9375rem ,0.4858870968rem + 2.2580645161vw ,3.125rem)) {
    .item-block {
      padding-top: clamp(.9375rem ,.4858870968rem + 2.2580645161vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(0.9375rem ,0.4858870968rem + 2.2580645161vw ,3.125rem)) {
    .item-block {
      padding-top: calc(.9375rem + 2.1875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-bottom:clamp(0.9375rem ,0.4858870968rem + 2.2580645161vw ,3.125rem)) {
    .item-block {
      padding-bottom: clamp(.9375rem ,.4858870968rem + 2.2580645161vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(0.9375rem ,0.4858870968rem + 2.2580645161vw ,3.125rem)) {
    .item-block {
      padding-bottom: calc(.9375rem + 2.1875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-left:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .item-block {
      padding-left: clamp(1.25rem ,.7338709677rem + 2.5806451613vw ,3.75rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .item-block {
      padding-left: calc(1.25rem + 2.5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-right:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .item-block {
      padding-right: clamp(1.25rem ,.7338709677rem + 2.5806451613vw ,3.75rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .item-block {
      padding-right: calc(1.25rem + 2.5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.4959677419rem + 0.6451612903vw ,1.25rem)) {
    .item-block__title:not(:last-child) {
      margin-bottom: clamp(.625rem ,.4959677419rem + .6451612903vw ,1.25rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.4959677419rem + 0.6451612903vw ,1.25rem)) {
    .item-block__title:not(:last-child) {
      margin-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9701612903rem + 0.7741935484vw ,1.875rem)) {
    .item-block__text {
      font-size: clamp(1.125rem ,.9701612903rem + .7741935484vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9701612903rem + 0.7741935484vw ,1.875rem)) {
    .item-block__text {
      font-size: calc(1.125rem + .75 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.4959677419rem + 0.6451612903vw ,1.25rem)) {
    .item-block__text:not(:last-child) {
      margin-bottom: clamp(.625rem ,.4959677419rem + .6451612903vw ,1.25rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.4959677419rem + 0.6451612903vw ,1.25rem)) {
    .item-block__text:not(:last-child) {
      margin-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-top:clamp(3.4375rem ,2.2116935484rem + 6.1290322581vw ,9.375rem)) {
    .footer {
      padding-top: clamp(3.4375rem ,2.2116935484rem + 6.1290322581vw ,9.375rem)
    }
  }
  @supports not (padding-top:clamp(3.4375rem ,2.2116935484rem + 6.1290322581vw ,9.375rem)) {
    .footer {
      padding-top: calc(3.4375rem + 5.9375 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-bottom:clamp(6.25rem ,4.7016129032rem + 7.7419354839vw ,13.75rem)) {
    .footer {
      padding-bottom: clamp(6.25rem ,4.7016129032rem + 7.7419354839vw ,13.75rem)
    }
  }
  @supports not (padding-bottom:clamp(6.25rem ,4.7016129032rem + 7.7419354839vw ,13.75rem)) {
    .footer {
      padding-bottom: calc(6.25rem + 7.5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9701612903rem + 0.7741935484vw ,1.875rem)) {
    .footer__link {
      font-size: clamp(1.125rem ,.9701612903rem + .7741935484vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9701612903rem + 0.7741935484vw ,1.875rem)) {
    .footer__link {
      font-size: calc(1.125rem + .75 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .page > * {
      margin-bottom: clamp(.625rem ,.2379032258rem + 1.935483871vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .page > * {
      margin-bottom: calc(.625rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (width:clamp(6.75rem ,6.0790322581rem + 3.3548387097vw ,10rem)) {
    .hero__logo {
      width: clamp(6.75rem ,6.0790322581rem + 3.3548387097vw ,10rem)
    }
  }
  @supports not (width:clamp(6.75rem ,6.0790322581rem + 3.3548387097vw ,10rem)) {
    .hero__logo {
      width: calc(6.75rem + 3.25 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (height:clamp(1.8125rem ,1.6318548387rem + 0.9032258065vw ,2.6875rem)) {
    .hero__logo {
      height: clamp(1.8125rem ,1.6318548387rem + .9032258065vw ,2.6875rem)
    }
  }
  @supports not (height:clamp(1.8125rem ,1.6318548387rem + 0.9032258065vw ,2.6875rem)) {
    .hero__logo {
      height: calc(1.8125rem + .875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (gap:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .info__container {
      gap: clamp(.625rem ,.2379032258rem + 1.935483871vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .info__container {
      gap: calc(.625rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (gap:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .about-us__container,
    .why__items {
      gap: clamp(.625rem ,.2379032258rem + 1.935483871vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .about-us__container,
    .why__items {
      gap: calc(.625rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-top:clamp(0.9375rem ,0.4858870968rem + 2.2580645161vw ,3.125rem)) {
    .opportunities__content {
      padding-top: clamp(.9375rem ,.4858870968rem + 2.2580645161vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(0.9375rem ,0.4858870968rem + 2.2580645161vw ,3.125rem)) {
    .opportunities__content {
      padding-top: calc(.9375rem + 2.1875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .opportunities__content {
      padding-bottom: clamp(.625rem ,.2379032258rem + 1.935483871vw ,2.5rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .opportunities__content {
      padding-bottom: calc(.625rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (gap:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .opportunities__items {
      gap: clamp(.625rem ,.2379032258rem + 1.935483871vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .opportunities__items {
      gap: calc(.625rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding:clamp(0.9375rem ,0.6149193548rem + 1.6129032258vw ,2.5rem)) {
    .why__container {
      padding: clamp(.9375rem ,.6149193548rem + 1.6129032258vw ,2.5rem)
    }
  }
  @supports not (padding:clamp(0.9375rem ,0.6149193548rem + 1.6129032258vw ,2.5rem)) {
    .why__container {
      padding: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.8629032258rem + 1.935483871vw ,3.125rem)) {
    .why__container {
      padding-top: clamp(1.25rem ,.8629032258rem + 1.935483871vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.8629032258rem + 1.935483871vw ,3.125rem)) {
    .why__container {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.4959677419rem + 0.6451612903vw ,1.25rem)) {
    .content-contact-us__title:not(:last-child) {
      margin-bottom: clamp(.625rem ,.4959677419rem + .6451612903vw ,1.25rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.4959677419rem + 0.6451612903vw ,1.25rem)) {
    .content-contact-us__title:not(:last-child) {
      margin-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .content-contact-us__items {
      padding: clamp(1.25rem ,.7338709677rem + 2.5806451613vw ,3.75rem)
    }
  }
  @supports not (padding:clamp(1.25rem ,0.7338709677rem + 2.5806451613vw ,3.75rem)) {
    .content-contact-us__items {
      padding: calc(1.25rem + 2.5 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-top:clamp(0.9375rem ,0.4858870968rem + 2.2580645161vw ,3.125rem)) {
    .content-contact-us__items {
      padding-top: clamp(.9375rem ,.4858870968rem + 2.2580645161vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(0.9375rem ,0.4858870968rem + 2.2580645161vw ,3.125rem)) {
    .content-contact-us__items {
      padding-top: calc(.9375rem + 2.1875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.6169354839rem + 1.2903225806vw ,3.125rem)) {
    .content-contact-us__item:not(:last-child) {
      margin-bottom: clamp(1.875rem ,1.6169354839rem + 1.2903225806vw ,3.125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.6169354839rem + 1.2903225806vw ,3.125rem)) {
    .content-contact-us__item:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1rem ,0.8193548387rem + 0.9032258065vw ,1.875rem)) {
    .content-contact-us__info {
      font-size: clamp(1rem ,.8193548387rem + .9032258065vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8193548387rem + 0.9032258065vw ,1.875rem)) {
    .content-contact-us__info {
      font-size: calc(1rem + .875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports ((-moz-column-gap:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) or (column-gap:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem))) {
    .form-call-back__items {
      -webkit-column-gap: clamp(1.25rem ,.9919354839rem + 1.2903225806vw ,2.5rem);
      -moz-column-gap: clamp(1.25rem ,.9919354839rem + 1.2903225806vw ,2.5rem);
      column-gap: clamp(1.25rem ,.9919354839rem + 1.2903225806vw ,2.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem)) or (column-gap:clamp(1.25rem ,0.9919354839rem + 1.2903225806vw ,2.5rem))) {
    .form-call-back__items {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 96.875);
      -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 96.875);
      column-gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (row-gap:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .form-call-back__items {
      row-gap: clamp(.625rem ,.2379032258rem + 1.935483871vw ,2.5rem)
    }
  }
  @supports not (row-gap:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .form-call-back__items {
      row-gap: calc(.625rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .form-call-back__items:not(:last-child) {
      margin-bottom: clamp(.625rem ,.2379032258rem + 1.935483871vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.2379032258rem + 1.935483871vw ,2.5rem)) {
    .form-call-back__items:not(:last-child) {
      margin-bottom: calc(.625rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding:clamp(0.625rem ,-0.0201612903rem + 3.2258064516vw ,3.75rem)) {
    .form-call-back__item {
      padding: clamp(.625rem ,-.0201612903rem + 3.2258064516vw ,3.75rem)
    }
  }
  @supports not (padding:clamp(0.625rem ,-0.0201612903rem + 3.2258064516vw ,3.75rem)) {
    .form-call-back__item {
      padding: calc(.625rem + 3.125 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-top:clamp(0.9375rem ,0.4858870968rem + 2.2580645161vw ,3.125rem)) {
    .form-call-back__item {
      padding-top: clamp(.9375rem ,.4858870968rem + 2.2580645161vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(0.9375rem ,0.4858870968rem + 2.2580645161vw ,3.125rem)) {
    .form-call-back__item {
      padding-top: calc(.9375rem + 2.1875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9701612903rem + 0.7741935484vw ,1.875rem)) {
    .form-call-back__lable {
      font-size: clamp(1.125rem ,.9701612903rem + .7741935484vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9701612903rem + 0.7741935484vw ,1.875rem)) {
    .form-call-back__lable {
      font-size: calc(1.125rem + .75 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (margin-bottom:clamp(0.0000000625rem ,-0.1290321827rem + 0.6451612258vw ,0.625rem)) {
    .form-call-back__lable:not(:last-child) {
      margin-bottom: clamp(.0000000625rem ,-.1290321827rem + .6451612258vw ,.625rem)
    }
  }
  @supports not (margin-bottom:clamp(0.0000000625rem ,-0.1290321827rem + 0.6451612258vw ,0.625rem)) {
    .form-call-back__lable:not(:last-child) {
      margin-bottom: calc(.0000000625rem + .6249999375 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9701612903rem + 0.7741935484vw ,1.875rem)) {
    .form-call-back__input {
      font-size: clamp(1.125rem ,.9701612903rem + .7741935484vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9701612903rem + 0.7741935484vw ,1.875rem)) {
    .form-call-back__input {
      font-size: calc(1.125rem + .75 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9701612903rem + 0.7741935484vw ,1.875rem)) {
    .form-call-back__input::-webkit-input-placeholder {
      font-size: clamp(1.125rem ,.9701612903rem + .7741935484vw ,1.875rem)
    }
    .form-call-back__input:-ms-input-placeholder {
      font-size: clamp(1.125rem ,.9701612903rem + .7741935484vw ,1.875rem)
    }
    .form-call-back__input::-ms-input-placeholder {
      font-size: clamp(1.125rem ,.9701612903rem + .7741935484vw ,1.875rem)
    }
    .form-call-back__input::placeholder {
      font-size: clamp(1.125rem ,.9701612903rem + .7741935484vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9701612903rem + 0.7741935484vw ,1.875rem)) {
    .form-call-back__input::-webkit-input-placeholder {
      font-size: calc(1.125rem + .75 * (100vw - 20rem)/ 96.875)
    }
    .form-call-back__input:-ms-input-placeholder {
      font-size: calc(1.125rem + .75 * (100vw - 20rem)/ 96.875)
    }
    .form-call-back__input::-ms-input-placeholder {
      font-size: calc(1.125rem + .75 * (100vw - 20rem)/ 96.875)
    }
    .form-call-back__input::placeholder {
      font-size: calc(1.125rem + .75 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.7330645161rem + 0.7096774194vw ,1.5625rem)) {
    .form-call-back ._form-error .form__error {
      font-size: clamp(.875rem ,.7330645161rem + .7096774194vw ,1.5625rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.7330645161rem + 0.7096774194vw ,1.5625rem)) {
    .form-call-back ._form-error .form__error {
      font-size: calc(.875rem + .6875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.8629032258rem + 1.935483871vw ,3.125rem)) {
    .form-call-back__button {
      padding-top: clamp(1.25rem ,.8629032258rem + 1.935483871vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.8629032258rem + 1.935483871vw ,3.125rem)) {
    .form-call-back__button {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.8629032258rem + 1.935483871vw ,3.125rem)) {
    .form-call-back__button {
      padding-bottom: clamp(1.25rem ,.8629032258rem + 1.935483871vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.8629032258rem + 1.935483871vw ,3.125rem)) {
    .form-call-back__button {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem)/ 96.875)
    }
  }
}
@media (min-width:47.99875em) and (max-width:116.875em) {
  @supports (min-height:clamp(18.75rem ,13.5233707192rem + 10.8890945718vw ,26.25rem)) {
    .item-block {
      min-height: clamp(18.75rem ,13.5233707192rem + 10.8890945718vw ,26.25rem)
    }
  }
  @supports not (min-height:clamp(18.75rem ,13.5233707192rem + 10.8890945718vw ,26.25rem)) {
    .item-block {
      min-height: calc(18.75rem + 7.5 * (100vw - 47.99875rem)/ 68.87625)
    }
  }
  @supports (gap:clamp(0.625rem ,-0.6816573202rem + 2.7222736429vw ,2.5rem)) {
    .footer__list {
      gap: clamp(.625rem ,-.6816573202rem + 2.7222736429vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,-0.6816573202rem + 2.7222736429vw ,2.5rem)) {
    .footer__list {
      gap: calc(.625rem + 1.875 * (100vw - 47.99875rem)/ 68.87625)
    }
  }
  @supports (padding:clamp(0.0000000625rem ,-1.7422096542rem + 3.6296980999vw ,2.5rem)) {
    .opportunities__content {
      padding: clamp(.0000000625rem ,-1.7422096542rem + 3.6296980999vw ,2.5rem)
    }
  }
  @supports not (padding:clamp(0.0000000625rem ,-1.7422096542rem + 3.6296980999vw ,2.5rem)) {
    .opportunities__content {
      padding: calc(.0000000625rem + 2.4999999375 * (100vw - 47.99875rem)/ 68.87625)
    }
  }
  @supports (padding:clamp(0.0000000625rem ,-1.7422096542rem + 3.6296980999vw ,2.5rem)) {
    .call-back__body {
      padding: clamp(.0000000625rem ,-1.7422096542rem + 3.6296980999vw ,2.5rem)
    }
  }
  @supports not (padding:clamp(0.0000000625rem ,-1.7422096542rem + 3.6296980999vw ,2.5rem)) {
    .call-back__body {
      padding: calc(.0000000625rem + 2.4999999375 * (100vw - 47.99875rem)/ 68.87625)
    }
  }
  @supports (padding-top:clamp(0.9375rem ,-0.5869335402rem + 3.1759859168vw ,3.125rem)) {
    .call-back__body {
      padding-top: clamp(.9375rem ,-.5869335402rem + 3.1759859168vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(0.9375rem ,-0.5869335402rem + 3.1759859168vw ,3.125rem)) {
    .call-back__body {
      padding-top: calc(.9375rem + 2.1875 * (100vw - 47.99875rem)/ 68.87625)
    }
  }
}
@media (min-width:62em) and (max-width:116.875em) {
  @supports (padding:clamp(1.25rem ,-1.5746013667rem + 4.555808656vw ,3.75rem)) {
    .hero__content {
      padding: clamp(1.25rem ,-1.5746013667rem + 4.555808656vw ,3.75rem)
    }
  }
  @supports not (padding:clamp(1.25rem ,-1.5746013667rem + 4.555808656vw ,3.75rem)) {
    .hero__content {
      padding: calc(1.25rem + 2.5 * (100vw - 62rem)/ 54.875)
    }
  }
  @supports (padding-top:clamp(0.9375rem ,-1.1809510251rem + 3.416856492vw ,2.8125rem)) {
    .hero__content {
      padding-top: clamp(.9375rem ,-1.1809510251rem + 3.416856492vw ,2.8125rem)
    }
  }
  @supports not (padding-top:clamp(0.9375rem ,-1.1809510251rem + 3.416856492vw ,2.8125rem)) {
    .hero__content {
      padding-top: calc(.9375rem + 1.875 * (100vw - 62rem)/ 54.875)
    }
  }
}
@media (any-hover:hover) {
  .footer__link:hover {
    color: #377de5
  }
  .content-contact-us a:hover {
    text-decoration: underline
  }
  .form-call-back__button:hover {
    color: #fff
  }
}