.logo {
   font-family: "Merriweather";
   @include adaptiveValue("font-size", 30, 20);
   line-height: lineHeight(38, 30);
   font-weight: 700;
   font-style: italic;

	&--white {
		color: $whiteColor;
	}

	&--big {
		@include adaptiveValue("font-size", 30, 28);
	}
}

.button {
   padding: toRem(16) toRem(37);
   font-family: "DM Serif Text";
   @include adaptiveValue("font-size", 28, 26);
   color: $whiteColor;
   text-align: center;

   background-color: $darkColor;
   border-radius: toRem(5);
   border: toRem(1) solid transparent;
   transition: all 0.3s;

   @media (any-hover: hover) {
      &:hover {
         color: $darkColor;
         border-color: $darkColor;
         background-color: $whiteColor;
      }
   }

   @media (max-width: toEm($mobileSmall)) {
      width: 100%;
   }

   // .button-small
   &--small {
      @include adaptiveValue("font-size", 20, 18);
      padding: toRem(12) toRem(26);
   }
}

.block-header {
   text-align: center;

   // .block-heade--left
   &--left {
      text-align: left;
   }

   // .block-heade--big
   &--big {
      .block-header__lable {
         @include adaptiveValue("font-size", 28, 18);
         line-height: lineHeight(34, 28);

         &:not(:last-child) {
            margin-bottom: toRem(13);
         }
      }

      .block-header__title {
         @include adaptiveValue("font-size", 59, 30);
         line-height: lineHeight(86, 59);
         @include adaptiveValue("line-height", 86, 40);

         &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 25, 10);
         }
      }

      .block-header__text {
         color: #474747;
         font-family: "Inter";
         font-weight: 400;
         @include adaptiveValue("line-height", 38, 26);
      }
   }

   // .block-heade--main
   &--main {
      .block-header__title {
         @include adaptiveValue("font-size", 78, 32);
         line-height: lineHeight(99, 78);

         &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 15);
         }
      }

      .block-header__text {
         @include adaptiveValue("font-size", 22, 18);
         color: #727272;
      }
   }

   // .block-heade--white
   &--white {
      .block-header__lable {
         color: $whiteColor;
      }

      .block-header__title {
         color: $whiteColor;
      }

      .block-header__text {
         color: $whiteColor;
      }
   }

   // .block-header__lable
   &__lable {
      font-size: toRem(15);
      line-height: lineHeight(18, 15);
      color: $orangeColor;
      text-transform: uppercase;

      &:not(:last-child) {
         margin-bottom: toRem(7);
      }
   }
   // .block-header__title
   &__title {
      color: $darkColor;
      font-family: "DM Serif Text";
      @include adaptiveValue("font-size", 48, 30);
      line-height: lineHeight(61, 48);
      text-transform: capitalize;

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 19, 10);
      }
   }
   // .block-header__text
   &__text {
      color: $grayColor;
      font-family: "Raleway";
      font-weight: 500;
      @include adaptiveValue("font-size", 20, 18);
      line-height: lineHeight(25, 20);

      &:not(:last-child) {
         margin-bottom: toRem(15);
      }

      & > *:not(:last-child) {
         margin-bottom: toRem(10);
      }
   }
}

// item-product(card)
.item-product {
   font-family: "Cormorant Infant";
   font-weight: 700;
   @include adaptiveValue("font-size", 24, 20);
   @include adaptiveValue("line-height", 34, 26);
   color: $mainColor;

   &--white {
      color: $whiteColor;
   }

   // .item-product__img
   &__img {
      aspect-ratio: 1 / 1;
      width: 100%;
      border-radius: toRem(5);
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         transition: transform 0.3s;

         @media (any-hover: hover) {
            &:hover {
               transform: scale(1.1);
            }
         }
      }

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 17, 6);
      }

      &--big {
         @media (min-width: toEm($tablet)) {
            aspect-ratio: 369 / 277;
         }
      }
   }
   // .item-product__title
   &__title,
   &__price {
      &:not(:last-child) {
         margin-bottom: toRem(6);
      }
   }

   // .item-product__price
   &__price {
   }
}
