.footer {
   padding-top: toRem(46);
   padding-bottom: toRem(34);
   font-family: "DM Sans";
   color: $lightColor;
   background-color: $darkColor;

   // .footer__container
   &__container {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 52, 30);
      }
   }
   // .footer__main
   &__main {
   }
   // .footer__bottom
   &__bottom {
      padding-top: toRem(32);
      border-top: toRem(1) solid rgba(150, 150, 150, 0.2);
   }
}

.main-footer {
   display: flex;
   flex-direction: column;
   row-gap: toRem(20);

   flex-wrap: wrap;
   @include adaptiveValue("column-gap", 160, 20, 0, $containerWidth, $tablet);
   row-gap: toRem(25);

   @media (min-width: toEm($tablet)) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
   }

   // .main-footer__content
   &__content {
      @media (min-width: toEm($tablet)) {
         flex: 0 0 toRem(340);
      }
   }
   // .main-footer__logo
   &__logo {
      &:not(:last-child) {
         margin-bottom: toRem(8);
      }
   }
   // .main-footer__text
   &__text {
      font-size: toRem(18);

      line-height: lineHeight(26, 16);

      @media (min-width: toEm($tablet)) {
         font-size: toRem(16);
      }

      &:not(:last-child) {
         @include adaptiveValue(
            "margin-bottom",
            33,
            20,
            0,
            $containerWidth,
            $tablet
         );
      }
   }
   // .main-footer__social
   &__social {
   }
   // .main-footer__nav
   &__nav {
   }
}

.social {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: toRem(16);

   // .social__link
   &__link {
      cursor: pointer;
      width: toRem(32);
      height: toRem(32);
      border-radius: 50%;
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
         transition: transform 0.3s;

         @media (any-hover: hover) {
            &:hover {
               transform: scale(1.2);
            }
         }
      }
   }
}

.nav-footer {
   display: flex;
   flex-wrap: wrap;
   row-gap: toRem(20);
   column-gap: toRem(70);

   @media (min-width: toEm($tablet)) {
      @include adaptiveValue(
         "column-gap",
         120,
         30,
         0,
         $containerWidth,
         $tablet
      );
      justify-content: space-between;
      flex-wrap: wrap;
   }

   // .nav-footer__item
   &__item {
   }
   // .nav-footer__title
   &__title {
      font-size: toRem(24);
      font-weight: 700;
      color: $whiteColor;

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 12);
      }

      @media (min-width: toEm($tablet)) {
         font-size: toRem(16);
      }
   }
   // .nav-footer__list
   &__list {
      display: grid;
      @include adaptiveValue("gap", 24, 8);
   }
   // .nav-footer__link
   &__link {
      font-size: toRem(18);
      line-height: lineHeight(25, 14);

      @media (min-width: toEm($tablet)) {
         font-size: toRem(14);
      }

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}

.bottom-footer {
   // .bottom-footer__info
   &__container {
      text-align: center;

      @media (min-width: toEm($mobileSmall)) {
         display: flex;
         justify-content: space-between;
         gap: toRem(20);
      }

      font-size: toRem(14);
   }
   // .bottom-footer__info
   &__info {
      @media (max-width: toEm($mobileSmall)) {
         &:not(:last-child) {
            margin-bottom: toRem(20);
         }
      }
   }
   // .bottom-footer__items
   &__items {
      display: flex;
      flex-wrap: wrap;
      @include adaptiveValue("column-gap", 53, 20);

      @media (max-width: toEm($mobileSmall)) {
         justify-content: center;
      }
   }
   // .bottom-footer__link
   &__link {
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
