.products {
   @media (min-width: toRem($tablet)) {
      transform: translateX(-10%);
      opacity: 0;
      visibility: hidden;
      transition: all 1s;

      &.animation {
         transition: all 1s;
         transform: translateX(0);
         opacity: 1;
         visibility: visible;
      }
   }

   background-color: $darkColor;
   // .products__container
   &__container {
      @include adaptiveValue(
         'padding-top',
         94,
         80,
         0,
         $containerWidth,
         $tablet
      );
      @include adaptiveValue(
         'padding-bottom',
         94,
         40,
         0,
         $containerWidth,
         $tablet
      );

      .block-header {
         &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 33, 20);
         }
      }
   }
   // .products__tabs
   &__tabs {
   }
}

.tabs-products {
   // .tabs-products__items
   &__items {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @include adaptiveValue('column-gap', 41, 20);
      row-gap: toRem(10);
      font-family: 'Raleway';

      &:not(:last-child) {
         @include adaptiveValue('margin-bottom', 77, 25);
      }
   }
   // .tabs-products__item
   &__item {
      font-size: toRem(18);
      color: $whiteColor;
      line-height: lineHeight(23, 18);
      cursor: pointer;

      @media (any-hover: hover) {
         &:hover:not(.tabs-products__item--active) {
            color: $orangeColor;
         }
      }

      &--active {
         text-decoration: underline;
      }
   }

   // .tabs-products__body
   &__body {
      .hidden {
         display: none;
      }
   }
   // .tabs-products__cards
   &__cards {
   }
}

.cards-products {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(toRem(230), 1fr));
   @include adaptiveValue('column-gap', 30, 20, 0, $containerWidth, $tablet);
   row-gap: toRem(25);

   @media (min-width: toEm($tablet)) {
      grid-template-columns: repeat(auto-fill, minmax(toRem(270), 1fr));
   }

   // .cards-products__item
   &__item {
      // justify-content: center;
   }
}
