.testimonials {
   @media (min-width: toRem($tablet)) {
      transform: translateX(10%);
      opacity: 0;
      visibility: hidden;
      transition: all 1s;

      &.animation {
         transition: all 1s;
         transform: translateX(0);
         opacity: 1;
         visibility: visible;
      }
   }

   // .testimonials__container
   &__container {
      .block-header {
         &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 93, 20);
         }
      }
   }
   // .testimonials__slider
   &__slider {
      @media (max-width: toEm($tablet)) {
         margin-right: toRem(-15);
      }
   }
   // .testimonials__wrapper
   &__wrapper {
   }
   // .testimonials__pages
   &__pages.swiper-pagination-bullets.swiper-pagination-horizontal {
      @include adaptiveValue(
         'padding-top',
         56,
         25,
         0,
         $containerWidth,
         $tablet
      );
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: toRem(10);

      .swiper-pagination-bullet {
         margin: 0;
         flex: 0 0 toRem(8);
         width: toRem(8);
         height: toRem(8);
         background-color: #d8d8d8;
         opacity: 1;
      }

      .swiper-pagination-bullet-active {
         background-color: $darkColor;
         opacity: 1;
      }
   }
}

.slide-testimonials {
   height: auto;
   border: toRem(1) solid #d8d8d8;
   @include adaptiveValue('padding', 48, 15);
   border-radius: toRem(12);
   color: #323232;

   &--dark {
      background-color: $darkColor;
      color: $whiteColor;

      .slide-testimonials__comment {
         color: $whiteColor;
      }

      .slide-testimonials__position {
         color: #a5a5a5;
      }

      .slide-testimonials__avatar {
         border: toRem(1) solid $whiteColor;
      }
   }

   // .slide-testimonials__comment
   &__comment {
      @include adaptiveValue('font-size', 18, 16);
      @include adaptiveValue('line-height', 32, 25);
      color: #646464;

      &:not(:last-child) {
         margin-bottom: toRem(32);
      }

      p {
         &:not(:last-child) {
            margin-bottom: toRem(10);
         }
      }
   }
   // .slide-testimonials__body
   &__body {
      display: flex;
      gap: toRem(16);
      align-items: center;
   }
   // .slide-testimonials__avatar
   &__avatar {
      flex-basis: toRem(56);
      width: toRem(56);
      height: toRem(56);
      border-radius: 50%;
      object-fit: cover;
   }

   // .slide-testimonials__info
   &__info {
      & > *:not(:last-child) {
         margin-bottom: toRem(10);
      }
   }

   // .slide-testimonials__name
   &__name {
      font-weight: 500;
      line-height: lineHeight(24, 20);
   }
   // .slide-testimonials__position
   &__position {
      font-size: toRem(16);
   }
}
