@use 'sass:math';

@import '_fonts.scss';
@import '_reset.scss';
@import '_variables.scss';
@import '_functions.scss';
@import '_common.scss';

body {
   font-size: toRem(20);
   color: $mainColor;
   font-family: 'Inter';
   background-color: $bgColor;
}

.wrapper {
   overflow: clip;
   display: flex;
   flex-direction: column;
   min-height: 100%;

   main {
      flex-grow: 1;
   }
}

[class*='__container'] {
   max-width: #{$containerWidth}px;
   padding: 0 15px;
   margin: 0 auto;
}

// Header
@import '_header.scss';

// Sections
.page {
   // .page__hero
   &__hero {
      @include adaptiveValue(
         'padding-top',
         206,
         85,
         0,
         $containerWidth,
         $tablet
      );
      @include adaptiveValue('padding-bottom', 140, 40);
   }

   // .page__products
   &__products {
   }

   // .page__blog
   &__blog {
      @include adaptiveValue(
         'padding-top',
         140,
         80,
         0,
         $containerWidth,
         $tablet
      );
   }

   // .page__popular
   &__popular {
      @include adaptiveValue(
         'padding-top',
         140,
         80,
         0,
         $containerWidth,
         $tablet
      );
   }

   // .page__testimonials
   &__testimonials {
      @include adaptiveValue(
         'padding-top',
         140,
         80,
         0,
         $containerWidth,
         $tablet
      );
      @include adaptiveValue('padding-bottom', 120, 40);
   }
}

// Section
@import '_hero.scss';
@import '_products.scss';
@import '_blog.scss';
@import '_popular.scss';
@import '_testimonials.scss';

// Footer
@import '_footer.scss';
