@import url(https://fonts.googleapis.com/css?family=Red+Rose:regular,500,700&display=swap);
@font-face {
  font-family: "Monument Extended";
  font-display: swap;
  src: url(../fonts/MonumentExtended-Regular.woff2) format("woff2"),url(../fonts/MonumentExtended-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: icons;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before {
  display: inline-block
}
._icon-android:before {
  content: "\e900"
}
._icon-apple:before {
  content: "\e901"
}
._icon-arrow-left:before {
  content: "\e902"
}
._icon-arrow-right:before {
  content: "\e903"
}
._icon-arrow-slanted:before {
  content: "\e904"
}
._icon-play:before {
  content: "\e905"
}
._icon-send-message:before {
  content: "\e906"
}
._icon-s-fb:before {
  content: "\e907"
}
._icon-s-inst:before {
  content: "\e908"
}
._icon-s-linkd:before {
  content: "\e909"
}
._icon-s-tik-tok:before {
  content: "\e90a"
}
._icon-s-x:before {
  content: "\e90b"
}
._icon-s-youtube:before {
  content: "\e90c"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: "Red Rose";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Red Rose";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  background-color: #101010;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 103.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  color: #1d1e22;
  border-radius: 0!important;
  width: 100%;
  display: block;
  caret-color: inherit
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  color: #1d1e22;
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  color: #1d1e22;
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  color: #1d1e22;
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  color: #1d1e22;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem
}
.menu__link {
  font-size: 1.125rem;
  line-height: 1.2222222222;
  overflow: hidden
}
.menu__link::after {
  content: "";
  display: block;
  height: .125rem;
  width: 0;
  position: relative;
  bottom: 0;
  left: 50%;
  background-color: #52ffe0;
  transition: all .4s
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  padding: .9375rem 1.875rem;
  background-color: #52ffe0;
  border-radius: 3.125rem;
  color: #2c2d31;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  transition: all .5s
}
.button--middle {
  padding: 1.375rem 2.5rem;
  font-size: 1.125rem;
  line-height: 1.2222222222
}
.button--big {
  padding: 1.5rem 3.75rem;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500
}
.button--border {
  padding: 1.25rem;
  color: #fff;
  background-color: transparent;
  border: .0625rem solid #fff;
  transition: all .5s
}
.button--bg-dark {
  color: #fff;
  background-color: #2c2d31;
  transition: all .5s
}
.title {
  font-family: "Monument Extended";
  line-height: 1.2
}
.logo {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.logo img {
  width: 100%
}
.header {
  background-color: #101010;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50
}
.header__container {
  padding-top: .625rem;
  padding-bottom: .625rem;
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  align-items: center
}
.header__logo {
  position: relative;
  z-index: 3;
  flex-shrink: 0
}
.footer {
  background-color: #1d1e22
}
.footer__container {
  padding-bottom: 1.875rem
}
.main-footer .logo {
  display: none
}
.items-footer {
  display: none
}
.items-footer__title {
  font-family: "Monument Extended";
  font-size: 1.125rem;
  letter-spacing: 0
}
.items-footer__title:not(:last-child)._spoller-active {
  margin-bottom: 1rem
}
.items-footer__list:not(:last-child) {
  margin-bottom: .625rem
}
.items-footer__link a {
  color: #dfe5f5;
  font-size: 1rem;
  line-height: 1.875
}
.items-footer__link a::after {
  content: "";
  display: block;
  width: 0;
  height: .125rem;
  position: relative;
  left: 50%;
  bottom: .3125rem;
  background-color: #52ffe0;
  transition: all .3s
}
.form {
  background-color: #52ffe0;
  border-radius: 1.875rem;
  position: relative
}
.form__title {
  color: #1d1e22;
  font-family: "Monument Extended";
  line-height: 1.2083333333;
  letter-spacing: 4%
}
.form__title:not(:last-child) {
  margin-bottom: .9375rem
}
.form__body {
  border-bottom: solid .0625rem #3fc9b0;
  padding-bottom: .8125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.form__body._form-error {
  position: relative
}
.form__body._form-error .form__error {
  position: absolute;
  bottom: -1.25rem;
  left: 0;
  color: red
}
.form__send {
  flex: 0 0 1.3125rem;
  color: #1d1e22;
  font-size: 1.375rem;
  transition: color .3s
}
.bottom-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2.1875rem;
  color: #dfe5f5;
  line-height: 1.875;
  letter-spacing: 0
}
.info-bottom-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.info-bottom-footer__item::after {
  content: "";
  display: block;
  width: 0;
  height: .125rem;
  position: relative;
  left: 50%;
  bottom: .1875rem;
  background-color: #52ffe0;
  transition: all .3s
}
.social {
  display: flex;
  flex-wrap: wrap;
  row-gap: .625rem
}
.social__item {
  color: #818698;
  font-size: 1.3125rem;
  transition: all .3s
}
.contact-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  order: 1;
  gap: 2.5rem
}
.contact-footer__title {
  font-family: "Monument Extended";
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0
}
.contact-footer__title:not(:last-child) {
  margin-bottom: 1rem
}
.contact-footer__link {
  display: block
}
.contact-footer__link:not(:last-child) {
  margin-bottom: .25rem
}
.hero__container {
  display: flex;
  flex-direction: column;
  row-gap: 4.375rem;
  align-items: center;
  font-family: "Monument Extended"
}
.hero__content {
  text-align: center
}
.hero__block-title {
  letter-spacing: .0625rem
}
.hero__block-title:not(:last-child) {
  margin-bottom: 3.75rem
}
.hero__lable {
  line-height: 1.1944444444
}
.hero__lable:not(:last-child) {
  margin-bottom: 1rem
}
.hero__title {
  line-height: 1.1944444444;
  text-transform: uppercase
}
.hero__title:not(:last-child) {
  margin-bottom: 2rem
}
.hero__actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
  row-gap: 5rem;
  -webkit-column-gap: 4rem;
  -moz-column-gap: 4rem;
  column-gap: 4rem
}
.hero__button {
  flex-shrink: 0
}
.hero__avatars {
  position: relative
}
.hero__avatars img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  overflow: hidden
}
.hero__box-line {
  width: 6.25rem;
  height: 7.5rem;
  position: absolute;
  bottom: .9375rem;
  right: -120%;
  background: url(../img/hero/arrow-mobile.svg) 0 0/contain no-repeat
}
.counters {
  display: flex;
  flex-direction: column;
  row-gap: 2rem
}
.counters__item {
  font-size: 1.875rem;
  line-height: 1.2
}
.counters__numbers:not(:last-child) {
  margin-bottom: .5rem
}
.counters__lable {
  color: #818698;
  font-family: "Red Rose";
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 2%
}
.counters__lable:not(:last-child) {
  margin-bottom: .5rem
}
.images-hero {
  aspect-ratio: 322/316;
  position: relative
}
.images-hero::before {
  content: "";
  border-radius: 3.125rem;
  background: linear-gradient(180deg,rgba(127,28,252,.5),rgba(89,220,220,.5) 100%);
  -webkit-filter: blur(30px);
  filter: blur(30px);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.images-hero__pictures {
  border-radius: 3.125rem;
  position: relative;
  z-index: 1
}
.images-hero__button {
  display: block;
  position: absolute;
  top: 100%;
  right: 100%;
  -webkit-transform: translate(50%,-100%);
  transform: translate(50%,-100%);
  width: 10.9375rem;
  height: 10.9375rem;
  border-radius: 50%;
  background-color: rgba(60,61,68,.8431372549);
  z-index: 3;
  transition: background-color .3s
}
.images-hero__button span {
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  font-size: 1.375rem;
  color: #fff;
  display: block
}
.images-hero__button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 7.5rem;
  height: 100%;
  display: block;
  overflow: visible;
  font-family: "Monument Extended";
  letter-spacing: .0625rem;
  word-spacing: .125rem;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.1875;
  fill: #fff;
  -webkit-animation: rotate 15s linear running infinite;
  animation: rotate 15s linear running infinite
}
.images-hero__button .circle path {
  fill: none
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%,-50%) rotate(0);
    transform: translate(-50%,-50%) rotate(0)
  }
  100% {
    -webkit-transform: translate(-50%,-50%) rotate(360deg);
    transform: translate(-50%,-50%) rotate(360deg)
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%,-50%) rotate(0);
    transform: translate(-50%,-50%) rotate(0)
  }
  100% {
    -webkit-transform: translate(-50%,-50%) rotate(360deg);
    transform: translate(-50%,-50%) rotate(360deg)
  }
}
@media (min-width:29.99875em) {
  .info-bottom-footer {
    flex-direction: row
  }
  .contact-footer {
    width: 100%;
    text-align: left;
    flex-direction: row;
    justify-content: space-between
  }
  .contact-footer__item--right {
    text-align-last: right
  }
}
@media (min-width:34.375em) {
  .bottom-footer {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
  }
}
@media (min-width:47.99875em) {
  .menu__list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: .625rem
  }
  .header .header__button {
    flex-shrink: 0
  }
  .main-footer {
    display: grid;
    gap: 1.25rem
  }
  .main-footer .logo {
    display: inline-block;
    flex-shrink: 0
  }
  .items-footer {
    display: grid;
    gap: 1.25rem
  }
  .contact-footer {
    display: none
  }
  .page__hero {
    padding-top: 11rem
  }
  .page__hero {
    padding-bottom: 3.125rem
  }
  .hero__actions {
    align-items: center;
    flex-wrap: wrap
  }
  .hero__avatars {
    flex-shrink: 0
  }
  .hero__avatars img:not(:first-child) {
    margin-left: -1.4375rem
  }
  .hero__box-line {
    width: 7.1875rem;
    height: 7.5rem;
    background: url(../img/hero/arrow.svg) 0 0/contain no-repeat;
    top: 1.25rem;
    right: -100%
  }
  .hero__counters {
    flex: 1 0 100%
  }
  .counters {
    flex-direction: row;
    justify-content: center;
    -webkit-column-gap: 11.875rem;
    -moz-column-gap: 11.875rem;
    column-gap: 11.875rem
  }
  .counters__lable {
    text-align: center
  }
  .images-hero {
    aspect-ratio: 775/778
  }
  .images-hero::before {
    border-radius: 11.25rem
  }
  .images-hero__pictures {
    border-radius: 11.25rem
  }
}
@media (min-width:47.99875em) and (min-width:103.125em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
}
@media (min-width:61.99875em) {
  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .main-footer__items {
    flex-grow: 1;
    flex-shrink: 0
  }
  .main-footer__form {
    flex: 0 1 30.9375rem
  }
  .items-footer {
    justify-content: center
  }
}
@media (min-width:103.125em) {
  .title {
    font-size: 1.875rem
  }
  .title--margin:not(:last-child) {
    margin-bottom: 4.5rem
  }
  .logo {
    max-width: 9.375rem
  }
  .footer__container {
    padding-top: 3rem
  }
  .main-footer {
    padding-bottom: 3.125rem
  }
  .form {
    padding: 5rem
  }
  .form {
    padding-left: 3rem
  }
  .form {
    padding-right: 3rem
  }
  .form__title {
    font-size: 1.5rem
  }
  .bottom-footer {
    -webkit-column-gap: 2.1875rem;
    -moz-column-gap: 2.1875rem;
    column-gap: 2.1875rem
  }
  .social {
    -webkit-column-gap: 1.625rem;
    -moz-column-gap: 1.625rem;
    column-gap: 1.625rem
  }
  .hero__lable {
    font-size: 2.25rem
  }
  .hero__title {
    font-size: 4.5rem
  }
}
@media (min-width:75em) {
  .items-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1.25rem
  }
  .items-footer__title {
    list-style: none
  }
  .items-footer__title:not(:last-child) {
    margin-bottom: 1rem
  }
  .no-webp .form::after {
    background: url(../img/decor/footer-decor.png) 0 0/100% repeat
  }
  .form::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 7.1875rem;
    height: 5.1875rem;
    bottom: -1.6875rem;
    right: -1.3125rem
  }
  .hero__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem
  }
  .hero__content {
    flex: 0 1 44rem;
    text-align: left
  }
  .hero__wrap-image {
    flex: 0 1 48.4375rem
  }
}
@media (min-width:75em) and (min-width:103.125em) {
  .items-footer {
    -webkit-column-gap: 7.5rem;
    -moz-column-gap: 7.5rem;
    column-gap: 7.5rem
  }
}
@media (max-width:20em) {
  .title {
    font-size: 1.375rem
  }
  .title--margin:not(:last-child) {
    margin-bottom: 1.375rem
  }
  .logo {
    max-width: 6.25rem
  }
  .footer__container {
    padding-top: 2.5rem
  }
  .main-footer {
    padding-bottom: 1.875rem
  }
  .form {
    padding: 3.125rem
  }
  .form__title {
    font-size: 1.125rem
  }
  .bottom-footer {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .social {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .page__hero {
    padding-top: 8.125rem
  }
  .page__hero {
    padding-bottom: 2.5rem
  }
}
@media (max-width:61.99875em) {
  .form {
    padding-left: 1.25rem
  }
  .form {
    padding-right: 1.25rem
  }
  .bottom-footer__copyright {
    order: 4;
    flex-basis: 100%;
    text-align: center
  }
  .bottom-footer__info {
    order: 2
  }
  .bottom-footer__social {
    order: 3
  }
  .images-hero__button {
    display: none
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.875rem;
    background-color: #1d1e22;
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    padding: 7.8125rem .9375rem 1.875rem 1.875rem;
    transition: right .3s
  }
  .menu__body::before {
    content: "";
    background-color: #17b293;
    position: fixed;
    width: 100%;
    height: 6.25rem;
    right: -100%;
    top: 0;
    transition: right .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    right: 0
  }
  .menu-open .menu__body::before {
    right: 0
  }
  .menu__list {
    width: 100%;
    text-align: right
  }
  .menu__item {
    width: 100%
  }
  .menu__link {
    font-size: 1.875rem;
    width: 100%
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .button--color-white {
    color: #fff;
    background-color: #17b293
  }
  .header__container {
    min-height: 6.25rem
  }
  .header .header__button {
    align-self: end
  }
  .hero__lable {
    font-size: 1.125rem
  }
  .hero__title {
    font-size: 1.875rem
  }
  .hero__avatars {
    flex: 0 0 3.125rem
  }
  .hero__avatars img:not(:first-child) {
    margin-top: -.875rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:47.99875em) and (min-width:47.99875em) and (max-width:103.125em) {
  @supports ((-moz-column-gap:clamp(0.625rem ,-1.0075735244rem + 3.4012834176vw ,2.5rem)) or (column-gap:clamp(0.625rem ,-1.0075735244rem + 3.4012834176vw ,2.5rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.625rem ,-1.0075735244rem + 3.4012834176vw ,2.5rem);
      -moz-column-gap: clamp(.625rem ,-1.0075735244rem + 3.4012834176vw ,2.5rem);
      column-gap: clamp(.625rem ,-1.0075735244rem + 3.4012834176vw ,2.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.625rem ,-1.0075735244rem + 3.4012834176vw ,2.5rem)) or (column-gap:clamp(0.625rem ,-1.0075735244rem + 3.4012834176vw ,2.5rem))) {
    .menu__list {
      -webkit-column-gap: calc(.625rem + 1.875 * (100vw - 47.99875rem)/ 55.12625);
      -moz-column-gap: calc(.625rem + 1.875 * (100vw - 47.99875rem)/ 55.12625);
      column-gap: calc(.625rem + 1.875 * (100vw - 47.99875rem)/ 55.12625)
    }
  }
}
@media (min-width:47.99875em) and (max-width:47.99875em) {
  .menu__list {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
}
@media (min-width:20em) and (max-width:103.125em) {
  @supports (font-size:clamp(1.375rem ,1.2546992481rem + 0.6015037594vw ,1.875rem)) {
    .title {
      font-size: clamp(1.375rem ,1.2546992481rem + .6015037594vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.2546992481rem + 0.6015037594vw ,1.875rem)) {
    .title {
      font-size: calc(1.375rem + .5 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (margin-bottom:clamp(1.375rem ,0.6231203008rem + 3.7593984962vw ,4.5rem)) {
    .title--margin:not(:last-child) {
      margin-bottom: clamp(1.375rem ,.6231203008rem + 3.7593984962vw ,4.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.375rem ,0.6231203008rem + 3.7593984962vw ,4.5rem)) {
    .title--margin:not(:last-child) {
      margin-bottom: calc(1.375rem + 3.125 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (max-width:clamp(6.25rem ,5.4981203008rem + 3.7593984962vw ,9.375rem)) {
    .logo {
      max-width: clamp(6.25rem ,5.4981203008rem + 3.7593984962vw ,9.375rem)
    }
  }
  @supports not (max-width:clamp(6.25rem ,5.4981203008rem + 3.7593984962vw ,9.375rem)) {
    .logo {
      max-width: calc(6.25rem + 3.125 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(2.5rem ,2.3796992481rem + 0.6015037594vw ,3rem)) {
    .footer__container {
      padding-top: clamp(2.5rem ,2.3796992481rem + .6015037594vw ,3rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,2.3796992481rem + 0.6015037594vw ,3rem)) {
    .footer__container {
      padding-top: calc(2.5rem + .5 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,1.5742481203rem + 1.5037593985vw ,3.125rem)) {
    .main-footer {
      padding-bottom: clamp(1.875rem ,1.5742481203rem + 1.5037593985vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,1.5742481203rem + 1.5037593985vw ,3.125rem)) {
    .main-footer {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding:clamp(3.125rem ,2.6738721805rem + 2.2556390977vw ,5rem)) {
    .form {
      padding: clamp(3.125rem ,2.6738721805rem + 2.2556390977vw ,5rem)
    }
  }
  @supports not (padding:clamp(3.125rem ,2.6738721805rem + 2.2556390977vw ,5rem)) {
    .form {
      padding: calc(3.125rem + 1.875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.0347744361rem + 0.4511278195vw ,1.5rem)) {
    .form__title {
      font-size: clamp(1.125rem ,1.0347744361rem + .4511278195vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0347744361rem + 0.4511278195vw ,1.5rem)) {
    .form__title {
      font-size: calc(1.125rem + .375 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.6367481203rem + 1.5037593985vw ,2.1875rem)) or (column-gap:clamp(0.9375rem ,0.6367481203rem + 1.5037593985vw ,2.1875rem))) {
    .bottom-footer {
      -webkit-column-gap: clamp(.9375rem ,.6367481203rem + 1.5037593985vw ,2.1875rem);
      -moz-column-gap: clamp(.9375rem ,.6367481203rem + 1.5037593985vw ,2.1875rem);
      column-gap: clamp(.9375rem ,.6367481203rem + 1.5037593985vw ,2.1875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.6367481203rem + 1.5037593985vw ,2.1875rem)) or (column-gap:clamp(0.9375rem ,0.6367481203rem + 1.5037593985vw ,2.1875rem))) {
    .bottom-footer {
      -webkit-column-gap: calc(.9375rem + 1.25 * (100vw - 20rem)/ 83.125);
      -moz-column-gap: calc(.9375rem + 1.25 * (100vw - 20rem)/ 83.125);
      column-gap: calc(.9375rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.7720864662rem + 0.8270676692vw ,1.625rem)) or (column-gap:clamp(0.9375rem ,0.7720864662rem + 0.8270676692vw ,1.625rem))) {
    .social {
      -webkit-column-gap: clamp(.9375rem ,.7720864662rem + .8270676692vw ,1.625rem);
      -moz-column-gap: clamp(.9375rem ,.7720864662rem + .8270676692vw ,1.625rem);
      column-gap: clamp(.9375rem ,.7720864662rem + .8270676692vw ,1.625rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.7720864662rem + 0.8270676692vw ,1.625rem)) or (column-gap:clamp(0.9375rem ,0.7720864662rem + 0.8270676692vw ,1.625rem))) {
    .social {
      -webkit-column-gap: calc(.9375rem + .6875 * (100vw - 20rem)/ 83.125);
      -moz-column-gap: calc(.9375rem + .6875 * (100vw - 20rem)/ 83.125);
      column-gap: calc(.9375rem + .6875 * (100vw - 20rem)/ 83.125)
    }
  }
}
@media (min-width:75em) and (min-width:61.99875em) and (max-width:103.125em) {
  @supports ((-moz-column-gap:clamp(1.5625rem ,-7.3884152457rem + 14.4372511474vw ,7.5rem)) or (column-gap:clamp(1.5625rem ,-7.3884152457rem + 14.4372511474vw ,7.5rem))) {
    .items-footer {
      -webkit-column-gap: clamp(1.5625rem ,-7.3884152457rem + 14.4372511474vw ,7.5rem);
      -moz-column-gap: clamp(1.5625rem ,-7.3884152457rem + 14.4372511474vw ,7.5rem);
      column-gap: clamp(1.5625rem ,-7.3884152457rem + 14.4372511474vw ,7.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5625rem ,-7.3884152457rem + 14.4372511474vw ,7.5rem)) or (column-gap:clamp(1.5625rem ,-7.3884152457rem + 14.4372511474vw ,7.5rem))) {
    .items-footer {
      -webkit-column-gap: calc(1.5625rem + 5.9375 * (100vw - 61.99875rem)/ 41.12625);
      -moz-column-gap: calc(1.5625rem + 5.9375 * (100vw - 61.99875rem)/ 41.12625);
      column-gap: calc(1.5625rem + 5.9375 * (100vw - 61.99875rem)/ 41.12625)
    }
  }
}
@media (min-width:75em) and (max-width:61.99875em) {
  .items-footer {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
}
@media (min-width:61.99875em) and (max-width:103.125em) {
  @supports (padding-left:clamp(1.25rem ,-1.3881644935rem + 4.2551898119vw ,3rem)) {
    .form {
      padding-left: clamp(1.25rem ,-1.3881644935rem + 4.2551898119vw ,3rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,-1.3881644935rem + 4.2551898119vw ,3rem)) {
    .form {
      padding-left: calc(1.25rem + 1.75 * (100vw - 61.99875rem)/ 41.12625)
    }
  }
  @supports (padding-right:clamp(1.25rem ,-1.3881644935rem + 4.2551898119vw ,3rem)) {
    .form {
      padding-right: clamp(1.25rem ,-1.3881644935rem + 4.2551898119vw ,3rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,-1.3881644935rem + 4.2551898119vw ,3rem)) {
    .form {
      padding-right: calc(1.25rem + 1.75 * (100vw - 61.99875rem)/ 41.12625)
    }
  }
}
@media (min-width:20em) and (max-width:47.99875em) {
  @supports (padding-top:clamp(8.125rem ,6.07133689rem + 10.2683155498vw ,11rem)) {
    .page__hero {
      padding-top: clamp(8.125rem ,6.07133689rem + 10.2683155498vw ,11rem)
    }
  }
  @supports not (padding-top:clamp(8.125rem ,6.07133689rem + 10.2683155498vw ,11rem)) {
    .page__hero {
      padding-top: calc(8.125rem + 2.875 * (100vw - 20rem)/ 27.99875)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,2.0535514978rem + 2.2322425108vw ,3.125rem)) {
    .page__hero {
      padding-bottom: clamp(2.5rem ,2.0535514978rem + 2.2322425108vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,2.0535514978rem + 2.2322425108vw ,3.125rem)) {
    .page__hero {
      padding-bottom: calc(2.5rem + .625 * (100vw - 20rem)/ 27.99875)
    }
  }
}
@media (min-width:47.99875em) and (max-width:103.125em) {
  @supports (font-size:clamp(1.125rem ,0.1454558854rem + 2.0407700506vw ,2.25rem)) {
    .hero__lable {
      font-size: clamp(1.125rem ,.1454558854rem + 2.0407700506vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.1454558854rem + 2.0407700506vw ,2.25rem)) {
    .hero__lable {
      font-size: calc(1.125rem + 1.125 * (100vw - 47.99875rem)/ 55.12625)
    }
  }
  @supports (font-size:clamp(1.875rem ,-0.4106029342rem + 4.7617967847vw ,4.5rem)) {
    .hero__title {
      font-size: clamp(1.875rem ,-.4106029342rem + 4.7617967847vw ,4.5rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,-0.4106029342rem + 4.7617967847vw ,4.5rem)) {
    .hero__title {
      font-size: calc(1.875rem + 2.625 * (100vw - 47.99875rem)/ 55.12625)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover::after {
    width: 100%;
    left: 0
  }
  .button:hover {
    color: #fff;
    background-color: #2c2d31
  }
  .button--border:hover {
    background-color: #52ffe0;
    border-color: transparent;
    color: #2c2d31
  }
  .button--bg-dark:hover {
    background-color: #52ffe0;
    color: #2c2d31
  }
  .logo:hover {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
  .items-footer__link a:hover::after {
    left: 0;
    width: 100%
  }
  .form__send:hover {
    color: #96ada6
  }
  .info-bottom-footer__item:hover::after {
    left: 0;
    width: 100%
  }
  .social__item:hover {
    color: #52ffe0;
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .images-hero__button:hover {
    background-color: #13b899
  }
  .images-hero__button:hover span {
    -webkit-transform: scale(1.6);
    transform: scale(1.6)
  }
  .images-hero__button:hover .circle {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
  }
}
@media (min-width:75em) {
  .webp .form::after {
    background: url(../img/decor/footer-decor.webp) 0 0/100% repeat
  }
}